*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color:black;
  color: white;
}
  h1{
  color: white;
  font-size:70px;
  text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game{
    display: grid;
    grid-template-columns: repeat(3,80px);
}
.box{
    width: 80px;
    height: 80px;
    border:none;
    cursor: pointer;
    font-size: 2rem;
    background: black;
    border: 4px solid white;
    color:blue
}
#reset{
  margin: 4rem;
  font-size: 2rem;
  background: #000;
  color: white;
  border:none
}
.top{
  border-top:none;
}
.left{
  border-left: none;
}
.right{
  border-right:none;
}
.bottom{
  border-bottom:none;
}